body {
    background-color: white;
}

header {
    background-color: gray;
    text-align: center;
}

nav {
    background-color: lightgray;
    text-align: center;
}

footer {
    background-color: gray;
    text-align: center;
}

.box {
    background-color: #f0f0f0;
    padding: 10px;
}

#prezentare {
    border: 1px solid black;
}